<%- include('./partial/header.ejs') %>
  <%- include('./partial/navber.ejs') %>

   


    <!--======================================= herro section  ============================ -->
    <section>
      <div class="herro-section  z-3 position-relative">
        <div class="px-4 pt-5 my-5 text-center ">
          <h1 class="display-4 fw-bold text-white">Welcome our Rahbar</h1>
          <p class="text-white">All member team register in rahbar Attendance</p>
          <div class="col-lg-6 mx-auto">
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            
            </div>
          </div>
        </div>
      </div>
    </section>
  

  <!--=============================  corve footer =======================-->
 


    <%- include('./partial/footer.ejs') %>