@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body ,html{
 
  background-image: linear-gradient(-190deg, #000000 0%, #313131 100%);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;

}
 
.logo-box {
  width: 60px;
  height: 60px;
  margin: 0 0 0 15px;
  border-radius: 50%;
  border: 4px double #0693e3;
}
.logo-box img {
  width: 100%;
  object-fit: cover;
}

.nav-color {
  background: rgba(104, 104, 104, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(104, 104, 104, 0.3);
}
.btn-color {
  background-image: linear-gradient(-20deg, #9900ef 0%, #0693e3 100%);
}
.corve {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
 
.b-admin {
  border: none;
  background: #f39600;
}
.b-admin:hover {
  border: 1px solid black;
  background: #f39600;
}
/* ================================== curve css ==============================*/
.path-0 {
  animation: pathAnim-0 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-0 {
  0% {
    d: path(
      "M 0,500 C 0,500 0,166 0,166 C 68.41909996564755,143.98969426313982 136.8381999312951,121.97938852627962 196,129 C 255.1618000687049,136.02061147372038 305.0663002404671,172.07214015802128 380,172 C 454.9336997595329,171.92785984197872 554.8965991068361,135.73205084163519 639,119 C 723.1034008931639,102.26794915836481 791.3473033321884,104.99965647543799 850,116 C 908.6526966678116,127.00034352456201 957.7141875644106,146.26932325661286 1014,145 C 1070.2858124355894,143.73067674338714 1133.7959464101684,121.92305049811063 1206,122 C 1278.2040535898316,122.07694950188937 1359.1020267949157,144.0384747509447 1440,166 C 1440,166 1440,500 1440,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 C 0,500 0,166 0,166 C 57.0724836825833,158.58124355891448 114.1449673651666,151.16248711782893 180,136 C 245.8550326348334,120.83751288217107 320.4926142219169,97.93129508759876 403,115 C 485.5073857780831,132.06870491240124 575.8845757471659,189.11233253177605 637,197 C 698.1154242528341,204.88766746822395 729.9690827894194,163.61937478529714 793,170 C 856.0309172105806,176.38062521470286 950.2390930951562,230.41016832703536 1034,226 C 1117.7609069048438,221.58983167296464 1191.0745448299554,158.73995190656132 1257,139 C 1322.9254551700446,119.26004809343868 1381.4627275850223,142.63002404671934 1440,166 C 1440,166 1440,500 1440,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 C 0,500 0,166 0,166 C 84.41978701477157,158.9495018893851 168.83957402954314,151.89900377877015 237,169 C 305.16042597045686,186.10099622122985 357.0614908965991,227.35348677430437 422,226 C 486.9385091034009,224.64651322569563 564.9144623840605,180.68704912401236 634,144 C 703.0855376159395,107.31295087598764 763.2806595671592,77.89831672964618 822,105 C 880.7193404328408,132.10168327035382 937.9628993473034,215.71968395740296 1011,223 C 1084.0371006526966,230.28031604259704 1172.8677430436276,161.22294744074202 1247,139 C 1321.1322569563724,116.77705255925798 1380.5661284781863,141.388526279629 1440,166 C 1440,166 1440,500 1440,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 C 0,500 0,166 0,166 C 55.068361387839246,193.27516317416695 110.13672277567849,220.55032634833393 191,221 C 271.8632772243215,221.44967365166607 378.5214702851254,195.07385778083133 445,188 C 511.4785297148746,180.92614221916867 537.77739608382,193.15424252834077 593,181 C 648.22260391618,168.84575747165923 732.3689453795946,132.30917210580557 814,138 C 895.6310546204054,143.69082789419443 974.7468223978015,191.60906904843696 1050,186 C 1125.2531776021985,180.39093095156304 1196.6437650291996,121.25455170044658 1261,109 C 1325.3562349708004,96.74544829955342 1382.6781174854002,131.3727241497767 1440,166 C 1440,166 1440,500 1440,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 C 0,500 0,166 0,166 C 68.41909996564755,143.98969426313982 136.8381999312951,121.97938852627962 196,129 C 255.1618000687049,136.02061147372038 305.0663002404671,172.07214015802128 380,172 C 454.9336997595329,171.92785984197872 554.8965991068361,135.73205084163519 639,119 C 723.1034008931639,102.26794915836481 791.3473033321884,104.99965647543799 850,116 C 908.6526966678116,127.00034352456201 957.7141875644106,146.26932325661286 1014,145 C 1070.2858124355894,143.73067674338714 1133.7959464101684,121.92305049811063 1206,122 C 1278.2040535898316,122.07694950188937 1359.1020267949157,144.0384747509447 1440,166 C 1440,166 1440,500 1440,500 Z"
    );
  }
}
.path-1 {
  animation: pathAnim-1 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1 {
  0% {
    d: path(
      "M 0,500 C 0,500 0,333 0,333 C 73.72311920302303,312.89213328753004 147.44623840604606,292.7842665750601 219,306 C 290.55376159395394,319.2157334249399 359.93816557883883,365.7550669872896 429,377 C 498.06183442116117,388.2449330127104 566.8010992785985,364.1954654757815 631,336 C 695.1989007214015,307.8045345242185 754.8574373067675,275.46307110958435 820,274 C 885.1425626932325,272.53692889041565 955.7691514943317,301.9522500858811 1017,321 C 1078.2308485056683,340.0477499141189 1130.065956715905,348.7279285468911 1199,349 C 1267.934043284095,349.2720714531089 1353.9670216420475,341.13603572655444 1440,333 C 1440,333 1440,500 1440,500 Z"
    );
  }
  25% {
    d: path(
      "M 0,500 C 0,500 0,333 0,333 C 81.72380625214706,317.6513225695637 163.4476125042941,302.30264513912743 236,316 C 308.5523874957059,329.69735486087257 371.9333562349708,372.4407420130539 436,375 C 500.0666437650292,377.5592579869461 564.8189625558228,339.9343868086569 640,340 C 715.1810374441772,340.0656131913431 800.790793541738,377.8217107523188 854,394 C 907.209206458262,410.1782892476812 928.0178632772245,404.77877018206806 995,374 C 1061.9821367227755,343.22122981793194 1175.1377533493644,287.06320851940916 1257,276 C 1338.8622466506356,264.93679148059084 1389.431123325318,298.9683957402954 1440,333 C 1440,333 1440,500 1440,500 Z"
    );
  }
  50% {
    d: path(
      "M 0,500 C 0,500 0,333 0,333 C 54.3613878392305,351.24184129165235 108.722775678461,369.48368258330476 179,356 C 249.277224321539,342.51631741669524 335.4702851253864,297.3071109584335 405,297 C 474.5297148746136,296.6928890415665 527.3960838199931,341.2878735829612 599,358 C 670.6039161800069,374.7121264170388 760.945379594641,363.5413947097217 832,351 C 903.054620405359,338.4586052902783 954.8223978014428,324.5465475781519 1011,326 C 1067.1776021985572,327.4534524218481 1127.7650291995878,344.2724149776709 1200,348 C 1272.2349708004122,351.7275850223291 1356.117485400206,342.36379251116455 1440,333 C 1440,333 1440,500 1440,500 Z"
    );
  }
  75% {
    d: path(
      "M 0,500 C 0,500 0,333 0,333 C 50.791480590862264,345.03023016145653 101.58296118172453,357.06046032291306 172,360 C 242.41703881827547,362.93953967708694 332.45963586396425,356.7883888698042 408,354 C 483.54036413603575,351.2116111301958 544.5784953624185,351.78598419787016 612,346 C 679.4215046375815,340.21401580212984 753.226382686362,328.0676743387153 834,341 C 914.773617313638,353.9323256612847 1002.5159738921334,391.94331844726895 1064,379 C 1125.4840261078666,366.05668155273105 1160.7097217451046,302.15905187220886 1219,286 C 1277.2902782548954,269.84094812779114 1358.6451391274477,301.42047406389554 1440,333 C 1440,333 1440,500 1440,500 Z"
    );
  }
  100% {
    d: path(
      "M 0,500 C 0,500 0,333 0,333 C 73.72311920302303,312.89213328753004 147.44623840604606,292.7842665750601 219,306 C 290.55376159395394,319.2157334249399 359.93816557883883,365.7550669872896 429,377 C 498.06183442116117,388.2449330127104 566.8010992785985,364.1954654757815 631,336 C 695.1989007214015,307.8045345242185 754.8574373067675,275.46307110958435 820,274 C 885.1425626932325,272.53692889041565 955.7691514943317,301.9522500858811 1017,321 C 1078.2308485056683,340.0477499141189 1130.065956715905,348.7279285468911 1199,349 C 1267.934043284095,349.2720714531089 1353.9670216420475,341.13603572655444 1440,333 C 1440,333 1440,500 1440,500 Z"
    );
  }
}
::selection{
  background-color: #380147;
  color: antiquewhite;
}
/* button */

.Attent-btn {
  width: 10em;
  position: relative;
  height: 3.5em;
  border: 3px ridge #149cea;
  outline: none;
  background-color: transparent;
  color: white;
  transition: 1s;
  border-radius: 0.3em;
  font-size: 16px;
  font-weight: bold;
  margin-top: 3rem;
}

.Attent-btn::after {
  content: "";
  position: absolute;
  top: -10px;
  left: 3%;
  width: 95%;
  height: 40%;
  background: linear-gradient(-20deg, #9900ef 0%, #0693e3 100%);
  transition: 0.5s;
  transform-origin: center;
}

.Attent-btn::before {
  content: "";
  transform-origin: center;
  position: absolute;
  top: 80%;
  left: 3%;
  width: 95%;
  height: 40%;
  background: linear-gradient(-20deg, #9900ef 0%, #0693e3 100%);
  transition: 0.5s;
}

.Attent-btn:hover::before,
.Attent-btn:hover::after {
  transform: scale(0);
}

.Attent-btn:hover {
  box-shadow: inset 0px 0px 25px #1479ea;
}

/* table */

.table-head {
  font-size: 1.2rem;
  background: linear-gradient(-20deg, #9900ef 0%, #0693e3 100%);
  text-align: center;
  color: #380147;
}
.table-body {
  outline: none;
  border: none;
  background: linear-gradient(-20deg, #454545 0%, #4e4e4e 100%);
}

  .t-data {
  text-align: center;
}
.table-body tr .t-data span {
  font-size: 1.1rem;
  padding: 9px;
  color: #000000;
  transition: 0.1s ease-in-out;
}
.table-body tr .t-data span:hover {
  background: rgba(104, 104, 104, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  color: #ffffff;
}
.t-p {
  text-align: center;

}
.t-p span {
  font-size: 1.1rem;
  color: #000000;
  transition: 0.1s ease-in-out;
  background-color: #14f300;
  border-radius: 5px;
  padding: .4rem;
}
.t-p span:hover {
  background: rgba(104, 104, 104, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.btn-group {
  display: flex;
  align-items: center;
  justify-content: center;
}
.h {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 600px) {
  body{
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh; 
  }
  .table-head {
    font-size: 1rem;
   
  }
  .table-body tr .t-data span {
    font-size: .9rem;
   
  }
  .h {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.outer{
  overflow-y: auto;
  height:50vh;
  font-family: 'Bebas Neue', sans-serif;
  }

 
 .done{
  background-color: #14f300;
  color: #000000;
  
 }
 #select{
  width:12vw;
  background: #747474;
  margin: 0 auto;
  color: #ffffff;
 
  
 }
 #select option:nth-child(2){
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 900;
  background-color: #1dcb0e;
 }

 #select option:nth-child(3){
  font-size: 1.1rem;
  background-color: #a92200;
  color: #000000;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 900;


 }