<section>
    <nav class="navbar navbar-expand-lg nav-color " data-bs-theme="dark">
        <div class="container-fluid">
            <a class=" " href="#">
                <div class="logo-box">
                    <img class="" src="images/r.png" alt="this is logo images">
                </div>

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01"
                aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarColor01">
                <ul class="navbar-nav ">
                    <form class="d-flex ">
                        <!-- <a class="nav-link" href="/registration">
                            <button type="button" class="btn btn-color text-white mx-3">
                                Register
                            </button>
                        </a> -->
                        <!-- Button trigger modal -->
                        <a class="nav-link" href="/login">
                            <button type="button" class="btn btn-color text-white">
                                Admin
                            </button>
                        </a>
                    </form>
                </ul>

            </div>
        </div>
    </nav>
</section>